<div class="jumbotron">
  <div class="container">
    <h2>Chaṭṭha Saṅgāyana Tipitaka</h2>
    <h3>version 2013/12/7</h3>
    <p align="right"><a id="website" class="btn btn-primary btn-large">Official Website</a></p>
  </div>
</div>


	<span class="label label-info">Tipitaka XML</span>http://github.com/dhamma/cstxml
	<span class="label label-info">Source code (GPL)</span>http://github.com/yapcheahshen/cst
	<span class="label label-info">English Translation</span>from http://accesstoinsight.org

</div>
</div>

<div class="well">
	"Bhikkhus, there are these two things that lead to the continuation, non-decline, and non-disappearance of the good Dhamma. What two? Well-set down words and phrases and well-interpreted meaning." ~~an2.21 translated by Bhikkhu Bodhi
</div>
