<div class="row">
  <div class="col-md-2"></div>
    <div class="col-md-8">

<div class="panel panel-success bodytext">
  <div class="panel-heading">Text Info</div>
    <div class="panel-body">
<span class="label label-success">Paragraph id</span> <%=readunit.value%>.<%=p.value%> <a class="btn btn-primary btn-small" id="copydata" data-data="<%=readunit.value%>.<%=p.value%>">Copy</a><br/>
<span class="label label-success">Sutta</span> <readunit><%=head%></readunit><br/>
<span class="label label-success">Nikaya</span> <%=nikaya%><br/>
<span class="label label-success">Page Numbers</span> <%for (var i in pagebreaks){%>
  <span class="label label-info"><%=pagebreaks[i].humanname%></span><%=pagebreaks[i].value%>,
<%}%>
  </div>
</div>

<div data-aura-component="select-db"></div>
<a id="open" class="btn btn-primary btn-large">Open selected section in new tab</a>
</div>
</div>