<div>
	<div class="input-group">
  <input type="text" class="form-control" id="dicttofind" value="<%=value%>"></input>
  <div class="input-group-btn">
<button type="button" id="dicttofind" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Search <span class="caret"></span></button>
        <ul class="dropdown-menu pull-right">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>

  </div>
  
</div>
</div>