

<div class="row" id="sutranumber">
<div class="col-3"></div>
<div class="input-group col-5">
	<span class="input-group-addon">Sutra Name&nbsp;&nbsp;&nbsp;</span>
	
   <input type="text" class="form-control" list="sutranames" placeholder="sutraname"></input>
<datalist id="sutranames">
<option value="aa">
<option value="ab">
<option value="abc">
<option value="bc">
</datalist>   
</div>
</div>
</div>

<div class="row" id="sutraname">
<div class="col-3"></div>
<div class="input-group col-5">
	<span class="input-group-addon">Sutra Number</span>
	
   <input type="text" class="form-control" placeholder="sutranumber"></input>
</div>
</div>
</div>


<div class="row" id="pagenumber">
<div class="col-3"></div>
<div class="input-group col-5">
	<span class="input-group-addon">Page Number</span>
	<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary active">
    <input type="radio" name="options" id="vri">VRI
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="pts">PTS
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="burmese">Burmese
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="thai">Thai
  </label>
  </div>
   <input type="text" class="form-control" placeholder="pagenumber"></input>

</div>
</div>


<hr/>


<div class="row" id="openbutton">
<div class="col-4"></div>
<div class="col-3">
	<button class="btn btn-primary btn-large">Open Text</button>
	</div>
</div>
