<div class="row" id="suttanumber">
<div class="col-2"></div>
<div class="input-group col-8">
	<span class="input-group-addon">sutta Name</span>
	
   <input type="text" class="form-control" list="suttanames" placeholder=""></input>
<datalist id="suttanames">
<option value="aa">
<option value="ab">
<option value="abc">
<option value="bc">
</datalist>   
</div>
</div>
</div>

<div class="row" id="suttaname">
<div class="col-2"></div>
<div class="input-group col-8">
	 <span class=" input-group-addon">Address.&nbsp;&nbsp;</span>
   <input id="address" type="text" class="form-control" placeholder="e.g, m26.283"></input>
   
</div>
</div>
</div>


<div class="row" id="pagenumber">
<div class="col-2"></div>
<div class="input-group col-8">
	<span class="input-group-addon">Book Page</span>
	<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary active btnversion">
    <input type="radio" name="version" data-versionid="V">VRI
  </label>
  <label class="btn btn-primary btnversion">
    <input type="radio" name="version" data-versionid="P">PTS
  </label>
  <label class="btn btn-primary btnversion">
    <input type="radio" name="version" data-versionid="M">Burmese
  </label>
  <label class="btn btn-primary btnversion">
    <input type="radio" name="version" data-versionid="T">Thai
  </label>


  </div>
   <a id="pagenumbersample" class="btn btn-success">e.g</a>
   <input type="text" id="pagenumber" class="form-control" placeholder="e.g, mn1.272 or dī. ni. 1.447"></input>
</div>
</div>


<hr/>
<div class="row">
  <div class="col-3"></div>
  <div class="col-9">
<div data-aura-widget="opentext-widget@kse">
</div>
</div>
<div id="suttainfo"></div>