<div class="jumbotron">
  <div class="container">
    <h1>Chaṭṭha Saṅgāyana Tipitaka</h1>
    <p>Goenkaji Memorial Edition</p>
    <p><a id="website" class="btn btn-primary btn-large">Official Website</a></p>
  </div>
</div>


	<span class="label label-info">Tipitaka XML</span>http://github.com/dhamma/cstxml
	<span class="label label-info">English Translation</span>http://www.accesstoinsight.org
	<span class="label label-info">Source code</span>http://github.com/yapcheahshen/cst

</div>
</div>
<hr/>

<div class="well">
	“Dveme, bhikkhave, dhammā saddhammassa ṭhitiyā asammosāya anantaradhānāya saṃvattanti. Katame dve? Sunikkhittañca padabyañjanaṃ attho ca sunīto. Sunikkhittassa, bhikkhave, padabyañjanassa atthopi sunayo hoti. Ime kho, bhikkhave, dve dhammā saddhammassa ṭhitiyā asammosāya anantaradhānāya saṃvattantī”ti. ~~an2.21
</div>