
<div class="row no_margin">
<div class="col-md-12 ">
	<div data-aura-widget="tofind-widget@kse"></div>
	</div>
</div>

<div class="row">
	<div class="col-md-8">
	<div data-aura-widget="search-worker-widget@kse"></div>
	<div data-aura-widget="simple-result-widget"></div>
	</div>

   <div class="col-md-4">
	<div data-aura-widget="queryinfo-widget"></div>
	</div>

</div>

