
<div class="row no_margin">
	<div class="col-md-8">
	<div data-aura-component="tofind-widget@kse"></div>
	<div data-aura-component="search-worker-widget@kse"></div>
	<div data-aura-component="simple-result-widget"></div>
	</div>

   <div class="col-md-4">
	<div data-aura-component="queryinfo-widget"></div>
	</div>

</div>