
<div id="dbs">

</div>
<%if(typeof rankcheckbox!='undefined' && rankcheckbox){%>
<hr/>
<input id="vsm" checked type="checkbox"><label for="vsm">rank by score</label>(paragraphs with low similarity will not shown)</input>
<%}%>